html.med {
	background-image: url(../img/bg1.jpg);
	background-color: black;
	background-repeat: no-repeat;
	background-size: auto 100%;
	background-attachment: fixed;
	background-position: center;
}

html.qpage {
	background-image: url(../img/bg2.jpg);
	background-color: black;
	background-repeat: no-repeat;
	background-size: auto 100%;
	background-attachment: fixed;
	background-position: center;
}
