html.med {
	background-image: url(../img/bg1.jpg);
	background-color: #4ec0cb;
	background-repeat: no-repeat;
	background-size: auto 100%;
	background-attachment: fixed;
	background-position: center;
}

html.qpage {
	background-image: url(../img/bg2.jpg);
	background-color: #01b1ae;
	background-repeat: no-repeat;
	background-size: auto 100%;
	background-attachment: fixed;
	background-position: center;
}

input[type="submit"],
input[type="reset"],
input[type="button"],
button,
.button {
	-moz-appearance: none;
	-webkit-appearance: none;
	-ms-appearance: none;
	appearance: none;
	-moz-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
	-webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
	-ms-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
	transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
	background-color: #323037;
	border-radius: 4px;
	color: #ffffff !important;
	border: 0;
	cursor: pointer;
	display: inline-block;
	font-weight: 700;
	height: 3.15em;
	line-height: 3.25em;
	padding: 0 2.2em;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	white-space: nowrap;
}

input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
button:hover,
.button:hover {
	background-color: #3e3c45;
}

input[type="submit"]:active,
input[type="reset"]:active,
input[type="button"]:active,
button:active,
.button:active {
	background-color: #262429;
}

input[type="submit"].icon,
input[type="reset"].icon,
input[type="button"].icon,
button.icon,
.button.icon {
	padding-left: 1.35em;
}

input[type="submit"].icon:before,
input[type="reset"].icon:before,
input[type="button"].icon:before,
button.icon:before,
.button.icon:before {
	margin-right: 0.5em;
}

input[type="submit"].fit,
input[type="reset"].fit,
input[type="button"].fit,
button.fit,
.button.fit {
	display: block;
	margin: 0 0 1em 0;
	width: 100%;
}

input[type="submit"].small,
input[type="reset"].small,
input[type="button"].small,
button.small,
.button.small {
	font-size: 0.8em;
}

input[type="submit"].big,
input[type="reset"].big,
input[type="button"].big,
button.big,
.button.big {
	font-size: 1.35em;
}

input[type="submit"].disabled, input[type="submit"]:disabled,
input[type="reset"].disabled,
input[type="reset"]:disabled,
input[type="button"].disabled,
input[type="button"]:disabled,
button.disabled,
button:disabled,
.button.disabled,
.button:disabled {
	-moz-pointer-events: none;
	-webkit-pointer-events: none;
	-ms-pointer-events: none;
	pointer-events: none;
	background-color: #666 !important;
	box-shadow: inset 0 -0.15em 0 0 rgba(0, 0, 0, 0.15);
	color: #fff !important;
	cursor: default;
	opacity: 0.25;
}

button.special,
.button.special {
	background-color: #f32853;
	color: #ffffff !important;
}

button.special:hover,
.button.special:hover {
	background-color: #f44066;
}

button.special:active,
.button.special:active {
	background-color: #f21040;
}

.button {
	margin-left: 0.5em;
	margin-right: 0.5em;
}

@media screen and (max-width: 480px) {
	button,
	.button {
		padding: 0;
		margin:  0;
	}
}

.centered {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.ms-font {
	font-family: 'Source Code Pro', monospace;
}

.light-gray {
	color: #aaaaaa;
	background-color: rgba(0,0,0,0.66);
	padding: 0.5em;
	border-radius: 1em;
}

.red-color {
	color: #ff6961;
	font-size: 4em;
	background-color: rgba(0,0,0,0.1);
	border-radius: 0.1em;
}

.red-color-small {
	color: #ff6961;
}

.four-em {
	font-size: 4em;
}

.three-em {
	font-size: 3em;
}

.two-em {
	font-size: 2em;
}

.middle {
		text-align: center;
		vertical-align: middle;
}

.table-wrapper {
	-webkit-overflow-scrolling: touch;
	overflow-x: auto;
}

table {
	margin: 0 0 2em 0;
	width: 100%;
}

table tbody tr {
	border: solid 1px rgba(144, 144, 144, 0.25);
	border-left: 0;
	border-right: 0;
}

table tbody tr:nth-child(2n + 1) {
	background-color: rgba(144, 144, 144, 0.075);
}

table td {
	padding: 0.75em 0.75em;
}

table th {
	font-size: 0.9em;
	font-weight: 700;
	padding: 0 0.75em 0.75em 0.75em;
	text-align: left;
}

table thead {
	border-bottom: solid 2px rgba(144, 144, 144, 0.25);
}

@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.balsamiq-font {
	font-family: 'Balsamiq Sans', cursive;
}

svg {
	height: 200px;
}

.green-color-res {
	color: #77dd77;
}

.red-color-res {
	color: #ff6961;
}

.green-strong-color-res {
	color: #9FC088;
}

.yellow-strong-color-res {
	color: #E8C07D;
}

.redbrown-strong-color-res {
	color: #CC704B;
}

.brown-strong-color-res {
	color: #614124;
}

.back-box {
	background-color: rgba(128,128,128,0.3);
}

.img {
	height: 50px;
}

.home {
	vertical-align: middle;
	font-size: 2em;
	display: block;
	height: 50px;
}

.nolink {
	text-decoration: none;
	color: #424242;
	display: block;
	height: inherit;
}

.nolink:hover {
	color: #212121;
}

.noblock {
	display: inline-block;
	vertical-align: middle;
	position: relative;
	top: -33%;
	margin-left: 0.5em;
}

.inlineblock {
	display: inline-block;
	transition: color 0.5s ease, text-shadow 0.5s cubic-bezier(.65,.05,.36,1);
}

.fade-enter-active,
.fade-leave-active {
	transition: opacity 0.6s ease-out;
}

.fade-enter-from,
.fade-leave-to {
	opacity: 0;
}

/* fade move */

.fade-move-enter-active,
.fade-move-leave-active {
	transition: all 0.5s cubic-bezier(.65,.05,.36,1);
}

.fade-move-enter-from {
	opacity: 0;
	transform: translateY(-10px);
}

.fade-move-leave-to {
	opacity: 0;
	transform: translateY(10px);
}


.invisible {
	opacity: 0;
}

.trans-back {
	background-color: rgba(0,0,0,0.1);
}

.correct {
	color: lime;
}

.incorrect {
	color: red;
}

.leave {
	color: #909090;
	font-size: 5em;
}

.leave:hover {
	color: #212121;
}

.leave-button {
	width: min-content;
	height: fit-content;
	text-align: center;
	vertical-align: middle;
}

/* Loader */

.atom-scale {
	transform: scale(4);
}

.atom-spinner, .atom-spinner * {
	box-sizing: border-box;
}

.atom-spinner {
	height: 60px;
	width: 60px;
	overflow: hidden;
}

.atom-spinner .spinner-inner {
	position: relative;
	display: block;
	height: 100%;
	width: 100%;
}

.atom-spinner .spinner-circle {
	display: block;
	position: absolute;
	color: #ff1d5e;
	font-size: calc(60px * 0.24);
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.atom-spinner .spinner-line {
	position: absolute;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	animation-duration: 1s;
	border-left-width: calc(60px / 25);
	border-top-width: calc(60px / 25);
	border-left-color: #ff1d5e;
	border-left-style: solid;
	border-top-style: solid;
	border-top-color: transparent;
}

.atom-spinner .spinner-line:nth-child(1) {
	animation: atom-spinner-animation-1 1.0123456789s linear infinite;
	transform: rotateZ(120deg) rotateX(66deg) rotateZ(0deg);
}

.atom-spinner .spinner-line:nth-child(2) {
	animation: atom-spinner-animation-2 1.123456789s linear infinite;
	transform: rotateZ(240deg) rotateX(66deg) rotateZ(0deg);
}

.atom-spinner .spinner-line:nth-child(3) {
	animation: atom-spinner-animation-3 1.234567891s linear infinite;
	transform: rotateZ(360deg) rotateX(66deg) rotateZ(0deg);
}

@keyframes atom-spinner-animation-1 {
	100% {
		transform: rotateZ(120deg) rotateX(66deg) rotateZ(360deg);
	}
}

@keyframes atom-spinner-animation-2 {
	100% {
		transform: rotateZ(240deg) rotateX(66deg) rotateZ(360deg);
	}
}

@keyframes atom-spinner-animation-3 {
	100% {
		transform: rotateZ(360deg) rotateX(66deg) rotateZ(360deg);
	}
}

/* Apply color to correct or wrong answer */

.correct_answer {
	color: #00e673;
	text-shadow: 0 0 8px #000, 0 0 10px #000, 0 0 8px #00e673, 0 0 8px #00e673, 0 0 10px #00e673, 0 0 12px #00e673, 0 0 14px #00e673;
}

.wrong_answer {
	color: #e60073;
	text-shadow: 0 0 8px #000, 0 0 10px #000, 0 0 8px #e60073, 0 0 8px #e60073, 0 0 10px #e60073, 0 0 12px #e60073, 0 0 14px #e60073;
}

.next_button {
	border-radius: 100%;
	width: 2em;
	height: 2em;
	padding: 0;
	color: #ffa500;
	text-shadow: 0 0 10px #000, 0 0 8px #ffa500, 0 0 12px #ffa500, 0 0 14px #ffa500, 0 0 16px #ffa500, 0 0 18px #ffa500;
	background-color: rgb(0, 0, 0);
	background: radial-gradient(circle, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0.5) 75%, rgba(0,0,0,0) 100%);
}

.next_button:hover {
	background: radial-gradient(circle, rgba(0,0,0,0.75) 0%, rgba(0,0,0,0.75) 75%, rgba(0,0,0,0.25) 100%);
}

.banner {
	transform: scale(5);
}
