<!DOCTYPE html>
<html class="med">
	<head>
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
		<link href="https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet"> 

		<link rel="stylesheet" href="../../assets/css/style.css">
		<link rel="icon" type="image/x-icon" href="../../favicon.ico">
		<link rel="shortcut icon" type="image/x-icon" href="../../favicon.ico">
		<meta charset="utf-8">
		<script src="https://unpkg.com/vue@3"></script>
		<script type="module">
			const{ createApp } = Vue
			import MainComponent from '../../assets/js/app.js'
			createApp(MainComponent).mount('#app')
		</script>
		<title>
		Quiz | Ergebnisse
		</title>
	</head>
	<body id="app">
		<script type="text/javascript" src="../../assets/js/script.js"></script>
		<script type="text/javascript">
			var gres = get_results([ 'b', 'c', 'd', 'a', 'd', 'c', 'c', 'd', 'a', 'b' ]);
		</script>
		<span v-html="template1"></span>
		<Transition name="fade" mode="out-in">
			<span class="centered" v-if="!showb">
				<span v-html="template2"></span>
			</span>
			<span class="centered middle light-gray" v-if="showb">
				<h1 class="ms-font light-gray four-em trans-back">
				Medienscouts-Quiz - Ergebnisse
				</h1>
				<table>
					<tbody>
						<tr>
							<td rowspan="2">
								<div class="table-wrapper balsamiq-font">
									<table class="red-color-small">
										<thead>
											<tr>
												<th class="middle">
													Frage
												</th>
												<th class="middle">
													Beschreibung
												</th>
												<th class="middle">
													Antwort
												</th>
												<th class="middle">
													Richtig
												</th>
											</tr>
										</thead>
										<tbody>
											<tr v-for="i in correct_answers.length">
												<td>
													{{ i }}
												</td>
												<td>
													<div class="tooltip">
														{{ questions[i-1] }}
														<span class="tooltiptext tooltip-right">
															Gegebene Antwort: {{ answers[i-1]['abcd'.indexOf(vars[i-1])] }}
															<br>
															Richtige Antwort: {{ answers[i-1]['abcd'.indexOf(correct_answers[i-1])] }}
														</span>
													</div>
												</td>
												<td>
													{{ vars[i-1] }}
												</td>
												<td v-if="results[6][i-1]">
													<span class="material-symbols-outlined correct">
														check
													</span>
												</td>
												<td v-else>
													<span class="material-symbols-outlined incorrect">
														dangerous
													</span>
												</td>
											</tr>
										</tbody>
									</table>
								</div>
							</td>
							<td>
								<svg viewBox="-1 -1 2 2" style="transform: rotate(-90deg)" id="svgone">
								</svg>
								<script type="text/javascript">
									const svgEl = document.getElementById('svgone');
									const slices = [
										{ percent: gres[4]/gres.slice(-1), color: '#77dd77' },
										{ percent: gres[5]/gres.slice(-1), color: '#ff6961' }
									];
									let cumulativePercent = 0;
									function getCoordinatesForPercent(percent) {
										const x = Math.cos(2 * Math.PI * percent);
										const y = Math.sin(2 * Math.PI * percent);
										return [x, y];
									}
									slices.forEach(slice => {
										const [startX, startY] = getCoordinatesForPercent(cumulativePercent);
										cumulativePercent += slice.percent;
										const [endX, endY] = getCoordinatesForPercent(cumulativePercent);
										const largeArcFlag = slice.percent > .5 ? 1 : 0;
										const pathData = [
											`M ${startX} ${startY}`,
											`A 1 1 0 ${largeArcFlag} 1 ${endX} ${endY}`,
											`L 0 0`,
										].join(' ');
										const pathEl = document.createElementNS('http://www.w3.org/2000/svg', 'path');
										pathEl.setAttribute('d', pathData);
										pathEl.setAttribute('fill', slice.color);
										svgEl.appendChild(pathEl);
									});
								</script>
								<br><br>
								<div class="balsamiq-font back-box">
									<br>
									<div class="green-color-res">
										Richtig: {{ results[4] }} ({{ Math.round(((results[4]/results.slice(-1))+Number.EPSILON)*100) }}%)
									</div>
									<div class="red-color-res">
										Falsch: {{ results[5] }} ({{ Math.round(((results[5]/results.slice(-1))+Number.EPSILON)*100) }}%)
									</div>
									<br>
								</div>
							</td>
							<td>
								<svg viewBox="-1 -1 2 2" style="transform: rotate(-90deg)" id="svgtwo">
								</svg>
								<script type="text/javascript">
									const svgEl_ = document.getElementById('svgtwo');
									const slices_ = [
										{ percent: gres[0]/gres.slice(-1), color: '#9FC088' },
										{ percent: gres[1]/gres.slice(-1), color: '#E8C07D' },
										{ percent: gres[2]/gres.slice(-1), color: '#CC704B' },
										{ percent: gres[3]/gres.slice(-1), color: '#614124' }
									];
									let cumulativePercent_ = 0;
									function getCoordinatesForPercent_(percent) {
										const x = Math.cos(2 * Math.PI * percent);
										const y = Math.sin(2 * Math.PI * percent);
										return [x, y];
									}
									slices_.forEach(slice_ => {
										const [startX_, startY_] = getCoordinatesForPercent_(cumulativePercent_);
										cumulativePercent_ += slice_.percent;
										const [endX_, endY_] = getCoordinatesForPercent_(cumulativePercent_);
										const largeArcFlag_ = slice_.percent > .5 ? 1 : 0;
										const pathData_ = [
											`M ${startX_} ${startY_}`,
											`A 1 1 0 ${largeArcFlag_} 1 ${endX_} ${endY_}`,
											`L 0 0`,
										].join(' ');
										const pathEl_ = document.createElementNS('http://www.w3.org/2000/svg', 'path');
										pathEl_.setAttribute('d', pathData_);
										pathEl_.setAttribute('fill', slice_.color);
										svgEl_.appendChild(pathEl_);
									});
								</script>
								<br><br>
								<div class="balsamiq-font back-box">
									<div class="results-answer-renderer" v-for="i in 4">
										{{ 'ABCD'[i-1] }}: {{ results[i-1] }} ({{ Math.round(((results[i-1]/results.slice(-1))+Number.EPSILON)*100) }}%)
									</div>
								</div>
							</td>
						</tr>
						<tr>
							<td>
								<button class="leave-button invisible">
									<span class="material-symbols-outlined leave middle">
									logout
								</span>
								<br>
								Zurück zum Anfang
							</button>
							</td>
							<td>
								<a href="../../">
									<button class="leave-button" href="../../">
										<span class="material-symbols-outlined leave middle">
										logout
									</span>
									<br>
									Zurück zum Anfang
								</button>
							</a>
							</td>
						</tr>
					</tbody>
				</table>
			</span>
		</Transition>
	</body>
</html>